# pixi environments
.pixi
*.egg-info

# magic environments
.magic
magic.lock

# mojopkg files
*.mojopkg

# Editor environments
.vscode
.helix

# Temporary files
tempCodeRunnerFile.mojo
temp.md
temp*.mojo
kgen.trace.json*

# macOS environments
.DS_Store

# log files
*.log

# local files
/test*.mojo
/test*.py
local
