name: StaMojo Unit Tests

on:
  push:
    branches: [main, dev]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  testing-stamojo:
    name: with ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-22.04"]

    runs-on: ${{ matrix.os }}
    timeout-minutes: 30

    defaults:
      run:
        shell: bash
    env:
      DEBIAN_FRONTEND: noninteractive

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install pixi
        run: |
          curl -fsSL https://pixi.sh/install.sh | sh

      - name: Add path
        run: |
          echo "PIXI_HOME=$HOME/.pixi" >> $GITHUB_ENV
          echo "$HOME/.pixi/bin"  >> $GITHUB_PATH

      - name: Activate virtualenv
        run: |
          python3 -m venv $HOME/venv/
          . $HOME/venv/bin/activate
          echo PATH=$PATH >> $GITHUB_ENV

      - name: Pixi install
        run: |
          pixi install

      - name: Build package
        run: |
          pixi run mojo package src/stamojo
          cp stamojo.mojopkg tests/

      - name: Run tests
        run: |
          bash ./tests/test_all.sh

      - name: Install pre-commit
        run: |
          pip install pre-commit
          pre-commit install

      - name: Run pre-commit
        run: |
          pixi install
          pre-commit run --all-files
